<!-- Code of session 1 handson-->
<!--<h1>Favorite Movie: {{favoriteMovie}}</h1>-->


<div>
    <h2>Angular Learning</h2>&nbsp;
    
    <a routerLink="/login" routerLinkActive="active">Login</a>&nbsp;
    <a routerLink="/viewEmployee" routerLinkActive="active">View Employee</a>&nbsp;&nbsp;
    <a routerLink="/empList" routerLinkActive="active">Employee</a>&nbsp;&nbsp;
    <a routerLink="/editEmployee" routerLinkActive="active">Edit Employee</a>&nbsp;&nbsp;
    <a routerLink="/incQuant" routerLinkActive="active">Quantity Increment</a>&nbsp;&nbsp;
    <a routerLink="/tempEditEmp" routerLinkActive="active">Edit Employee(Template Driven)</a>&nbsp;&nbsp;
    <a routerLink="/rectEditEmp" routerLinkActive="active">Edit Employee(Reactive Form)</a>&nbsp;&nbsp;
    <a routerLink="/fbEditEmp" routerLinkActive="active">Edit Employee(FormBuilder)</a>&nbsp;&nbsp;
    <a routerLink="/dEditEmp" routerLinkActive="active">Edit Employee(DynamicForm)</a>
</div>
    
<router-outlet></router-outlet>
<!--Routed Views Go Here-->